body{
    background-color: rgb(75, 84, 224);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: rgb(252, 133, 133);
}

h2{
    color: rgb(250, 61, 61);
}

h3{
    color: red;
}

#open{
    width: 300px;
    border-radius: 20px;
    background-color: rgb(54, 190, 133);
}

.opened{
    display: block;
}

.closed{
    display: none;
}